# UI
streamlit
# Data Processing
pandas
numpy
# Visualization
matplotlib
seaborn
plotly
wordcloud

# Text + Chat Analysis
emoji
urlextract
nltk
textblob

# API and .env
requests
python-dotenv

# Optional enhancements
beautifulsoup4
scikit-learn

# Core utilities
attrs
wheel
protobuf
pillow
tornado
Jinja2
filelock
setuptools

# NLP & Sentiment
vaderSentiment

