# Core Dependencies
streamlit~=1.30.0
pandas
matplotlib
numpy

# Visualization
seaborn
plotly
wordcloud

# Text & Emoji Processing
emoji
urlextract
nltk
textblob

# API + Environment Handling
requests
python-dotenv

# Optional Enhancements
beautifulsoup4
lottie
scikit-learn
