# UI
streamlit>=1.20.0,<2.0.0

# Data Processing
pandas
numpy

# Visualization
matplotlib
seaborn
plotly
wordcloud

# Text + Chat Analysis
emoji
urlextract
nltk
textblob

# API and .env
requests
python-dotenv

# Optional enhancements
beautifulsoup4
scikit-learn
